$colors : #4e89ae #43658b #ed6663 #ffa372 #8ccff7 #444;

// breakpoints
@mixin breakpoint($min, $max) {
    @media (min-width: $min) and (max-width: $max) {
        @content
    }
};

// centering
@mixin centering {
    display: flex;
    justify-content: center;
    align-items: center;
};


// resetting initial properties
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// header
header {
    background-color: nth($colors, 5);
    width: 100%;
    height: fit-content;
    @include centering;
}

.img { margin-bottom: -4px;}

.img1 {@include breakpoint(621px, 1500px) {display: none;}}

.img2 {
    @include breakpoint(0px, 620px) {display: none;}
    @include breakpoint(1024px, 1500px) {display: none;}
}
.img3 {@include breakpoint(0, 1023px) {display: none;}}

// rows
.rows {
    margin-top: 30px;
    .row {
        width: 100%;
        height: 30px;
        @include breakpoint (0, 620px) {
            height: 20px;
        }
        &.one {background-color: nth($colors, 1);}
        &.two {background-color: nth($colors, 2);}
        &.three {background-color: nth($colors, 3);}
        &.four {background-color: nth($colors, 4);}
        &:hover {background-color: nth($colors, 6);}
    }
}


// circles
.circles {
    @include centering;
    margin-top: 30px;
    gap: 10px;
    .circle {
        border-radius: 50%;
        &.one {background-color: nth($colors, 1); height: 70px; width: 70px;}
        &.two {background-color: nth($colors, 2); height: 80px; width: 80px;}
        &.three {background-color: nth($colors, 3); height: 90px; width: 90px;}
        &.four {background-color: nth($colors, 4); height: 100px; width: 100px;}
        &:hover {background-color: nth($colors, 6);}
    }
    @include breakpoint(0, 620px) {
        display: flex;
        flex-direction: column;
    }
}

footer {
    background-color: nth($colors, 5);
    height: 50px;
    width: 100%;
    position: fixed;
    bottom: 0;
}