/* resetting properties of all elements */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.body {
    background-color: lightgrey;
}

/* header section */
/* aligning and spacing for contents in header to flow from left to right using flex properties */
header {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    padding: 10px;
    background-color:cornflowerblue;
}

h1 {
    color: white;
    padding: 10px;
}

.search { /* designing div to look like a search button */
    background-color: white;
    color: gray;
    border: black solid 2px 2px 2px 2px;
    width: 300px;
}

nav a{ /* link design */
    color: white;
    text-decoration: none;
    padding: 18px;
}

/* main section */
/* makes image fill 100% of its container */
img {
    width: 100%;
}

/* 80% size of page width and aligned center */
/* flex property to make contents flow left to right */
main { 
    width: 80%;
    margin: 20px auto;
    display: flex;
    justify-content: center;
    gap: 10px;
}

/* fills 50% of container */
.item1 {
    width: 50%;
    height: fit-content;
    background-color: white;
    padding: 5px;
    box-shadow: 2px 2px 2px 2px lightgray;
}

/* fills 30% of container to the left of item1 */
/* remaining space occupied by gaps */
aside {
    width:30%;
    display: flex; /* flex property to allow content to flow from left to right */
    justify-content: space-evenly;
    flex-wrap: wrap; /* to make each item move to next line when there is no space */
    gap: 10px;
}

/* settings for each div in aside container */
.item {
    width: 45%;
    background-color: white;
    padding: 5px;
    box-shadow: 2px 2px 2px 2px lightgray;
}

/* paragraphs and title spacing */
h2, p {
    margin: 10px;
    line-height: 1.5em;
}

/* separate settings for aside fonts for styling purposes */
aside .item h2 {
    font-size: 17px;
}

aside .item p {
    font-size: 15px;
}

/* button settings */
/* floats right at the bottom of each section in aside */
.button {
    background-color:cornflowerblue;
    border-radius: 5px;
    width: fit-content;
    padding: 10px 20px;
    margin: 20px 10px 20px 0;
    float: right;
    color: white;
}

/* default settings followed when page width is above 1280px*/
/* changed element's width percantage to pixels for fixed look purposes */
@media (min-width: 1281px){
    .item1 {
        width: 600px;
    }
    aside {
        width: 450px;
    }
    .menu {display: none;} /* menu link does not appear */
}

/* width of content is fills 100% of page width */
/* flex grow property to make content fill up extra space */
@media (min-width: 1025px) and (max-width: 1280px) {
    main {width: 100%;}
    .item1 {flex-grow: 1;}
    aside {flex-grow: 1;}
    .menu {display: none;}
}

/* item width to 100% to allow only 1 section to appear, others appearing vertically after */
@media (min-width: 801px) and (max-width: 1024px) {
    main {width: 100%;}
    .item1 {flex-grow: 1;}
    .item {
        width: 100%;
    }
    .menu {display: none;}  /* menu link does not appear */
    nav a {
        margin: -5px;
    }
}

/* all content in main flowing vertically by changing flex to block */
@media (min-width: 401px) and (max-width: 800px) {
    main {
        width: 100%;
        display: block;
    }
    .item1 {
        width: 95%;
        padding-bottom: 80px;
        margin: 0 auto 20px auto;
    }
    aside {width: 100%;} /* aside container fills 100% of page width */
    a {font-size: 20px;}
    .def {display: none;}  /* other links are replaced by menu link only */
    .search {display: none;}  /* search bar does not appear */
}

/* all content in main and aside flowing vertically by changing flex to block */
@media (max-width: 400px) {
    main {
        width: 100%;
        display: block;
    }
    .item1 {
        width: 95%;
        padding-bottom: 80px;
        margin: 0 auto 20px auto;
    }
    aside {
        width: 100%;  /* aside container fills 100% of page width */
        display: block;
    }
    .item {
        width: 95%;
        margin: 0 auto 20px auto;
        padding-bottom: 80px;
    }
    .def {display: none;}   /* other links are replaced by menu link only */
    .search {display: none;}  /* search bar does not appear */
}